$color-1: gold;
$color-2: brown;
$color-3: bisque;
$color-lightgrey: #f7f7f7;
$color-green-1: lightgreen;
$color-green-2: darkgreen;

$shadow-box: 0 1rem 2.5rem rgba(black, .15);

$dark-1:#bdbdbd;
$dark-2:#9e9e9e;
$dark-3:#757575;
$dark-4:#616161;
$dark-5:#212121;