.form__container{
    background-image: linear-gradient(105deg, rgba($color-lightgrey,.95) 0%, rgba($color-lightgrey,.75) 50%, transparent 50%), url("/img/library-3.jpg");
    height: 33em;
    background-size: cover;
    transition: all .4s ease;

    &:hover{
        box-shadow: $shadow-box;
    }

    @include mQ(phone){
        background-image: linear-gradient(105deg, rgba($color-lightgrey,.95) 0%, rgba($color-lightgrey,.75) 80%, transparent 80%), url("/img/library-3.jpg");
    }
}