.material-symbols-outlined--decorated{
    font-size: 5rem;
    display: block;
    background-image: linear-gradient(to right top, $color-1, $color-2);
    -webkit-background-clip: text;
    background-clip:text;
    color:transparent;
}
